
# 프로젝트 개요 : 
## 데이터 수집 및 전처리 
- ( 링크 1 ~ 5 ) : 데이터 수집 및 전처리 코드는 위 링크에서 확인 가능 

- 프로젝트 개요 
- 사용한 데이터 셋 
- 출처 


- 분석 주제 1 
- 분석 주제 2
- 분석 주제 3
...

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import koreanize_matplotlib
import matplotlib.pyplot as plt
from glob import glob
import folium
import json
import requests

In [1]:
print('해윙')

해윙

# EDA

## 가설 1 :

## 가설 2 : 시험을 부활시키려는 이유

### 가설 2-1 : 시험 폐지가 사교육비 감소로 이어지지 않음

In [9]:
# 데이터 경로
file_path = "./dataset/서울 사교육비 지출.csv"

In [10]:
seoul_private_edu_cost_df = pd.read_csv(file_path)
seoul_private_edu_cost_df.head()

,시점,평균,평균.1,초등학교,초등학교.1,중학교,중학교.1,고등학교,고등학교.1,일반고,일반고.1
0,시점,학생 1인당 월평균 사교육비 (만원),사교육 참여율 (%),학생 1인당 월평균 사교육비 (만원),사교육 참여율 (%),학생 1인당 월평균 사교육비 (만원),사교육 참여율 (%),학생 1인당 월평균 사교육비 (만원),사교육 참여율 (%),학생 1인당 월평균 사교육비 (만원),사교육 참여율 (%)
1,2009,33.1,79.6,30.5,88.8,32.6,76.9,37.7,67.3,43.3,74.2
2,2010,32.1,77.5,29.6,88.8,30.9,72.2,37.2,64.9,42.0,70.6
3,2011,32.8,77.0,30.4,87.7,31.8,73.4,37.4,64.2,42.7,71.2
4,2012,31.2,73.5,26.1,82.0,34.0,72.7,36.1,61.8,41.1,68.2

In [11]:
# 컬럼 이름 변경
seoul_private_edu_cost_df.columns = ["시점", "1인당 월평균 사교육비(만원) : 평균", "평균 사교육 참여율(%)", 
                                     "1인당 월평균 사교육비(만원) : 초등학교", "초등 사교육 참여율(%)", 
                                     "1인당 월평균 사교육비(만원) : 중학교", "중등 사교육 참여율(%)", 
                                     "1인당 월평균 사교육비(만원) : 고등학교", "고등 사교육 참여율(%)", 
                                     "1인당 월평균 사교육비(만원) : 일반고", "일반고 사교육 참여율(%)"]

# 2011~2021년 외 데이터 삭제
seoul_private_edu_cost_df = seoul_private_edu_cost_df.drop([0, 1, 2])
seoul_private_edu_cost_df.head()

,시점,1인당 월평균 사교육비(만원) : 평균,평균 사교육 참여율(%),1인당 월평균 사교육비(만원) : 초등학교,초등 사교육 참여율(%),1인당 월평균 사교육비(만원) : 중학교,중등 사교육 참여율(%),1인당 월평균 사교육비(만원) : 고등학교,고등 사교육 참여율(%),1인당 월평균 사교육비(만원) : 일반고,일반고 사교육 참여율(%)
3,2011,32.8,77.0,30.4,87.7,31.8,73.4,37.4,64.2,42.7,71.2
4,2012,31.2,73.5,26.1,82.0,34.0,72.7,36.1,61.8,41.1,68.2
5,2013,32.8,75.0,28.4,84.8,34.9,74.7,37.1,61.6,42.7,68.4
6,2014,33.5,74.4,30.0,84.3,34.9,73.3,37.1,61.3,42.1,67.4
7,2015,33.8,74.3,29.6,82.9,35.5,74.1,38.3,61.8,43.6,68.2

In [12]:
# 시점 컬럼을 set_index()
seoul_private_edu_cost_df = seoul_private_edu_cost_df.set_index('시점')
seoul_private_edu_cost_df.head()

,1인당 월평균 사교육비(만원) : 평균,평균 사교육 참여율(%),1인당 월평균 사교육비(만원) : 초등학교,초등 사교육 참여율(%),1인당 월평균 사교육비(만원) : 중학교,중등 사교육 참여율(%),1인당 월평균 사교육비(만원) : 고등학교,고등 사교육 참여율(%),1인당 월평균 사교육비(만원) : 일반고,일반고 사교육 참여율(%)
시점,,,,,,,,,,
2011,32.8,77.0,30.4,87.7,31.8,73.4,37.4,64.2,42.7,71.2
2012,31.2,73.5,26.1,82.0,34.0,72.7,36.1,61.8,41.1,68.2
2013,32.8,75.0,28.4,84.8,34.9,74.7,37.1,61.6,42.7,68.4
2014,33.5,74.4,30.0,84.3,34.9,73.3,37.1,61.3,42.1,67.4
2015,33.8,74.3,29.6,82.9,35.5,74.1,38.3,61.8,43.6,68.2

In [13]:
# 컬럼에 "사교육비" 단어를 포함하는 조건
condition = seoul_private_edu_cost_df.columns.str.contains("사교육비")
condition

array([ True, False,  True, False,  True, False,  True, False,  True,
       False])

In [15]:
# 사교육 참여율 df
ratio_df = seoul_private_edu_cost_df.loc[:, ~condition]
ratio_df.head()

     평균 사교육 참여율(%) 초등 사교육 참여율(%) 중등 사교육 참여율(%) 고등 사교육 참여율(%) 일반고 사교육 참여율(%)
시점
2011          77.0          87.7          73.4          64.2           71.2
2012          73.5          82.0          72.7          61.8           68.2
2013          75.0          84.8          74.7          61.6           68.4
2014          74.4          84.3          73.3          61.3           67.4
2015          74.3          82.9          74.1          61.8           68.2

### 가설 2-2 : 사교육비 감소보다 학생들의 성취도 감소 비용이 더 큼

## 가설 3 :

## 가설 4 :

## 가설 5 :